:root {
  --primary-color: rgb(108, 99, 255);
  --secondary-color: white;
  --box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px 0px;
}

.container-introduction {
  max-width: 900px;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
  line-height: 0.5;
}

h2 {
  font-size: 48px;
  font-weight: 800;
}

h1 {
  font-size: 96px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}
.btn {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  border: none;
  font-synthesis: none;
}

#contact-me-btn {
  font-size: 16px;
  margin: 20px;
  padding: 20px 15px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  color: var(--secondary-color);
  box-shadow: var(--box-shadow);
}

#about-me-btn {
  font-size: 16px;
  margin: 20px;
  padding: 20px 15px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
}

a {
  padding-top: 40px;
  color: var(--primary-color);
}
.lorem {
  display: flex;
  line-height: 27px;
  justify-content: space-between;
  font-size: 18px;
  padding: 30px;
  margin: 13px;
  text-indent: 20px;
}

#lorem-1 {
  flex: 1;
  border: 1px solid rgb(245, 242, 254);
  background-color: rgb(245, 242, 254);
  border-radius: 4px;
  margin: 15px;
}

#lorem-2 {
  flex: 1;
  border: 1px solid rgb(245, 242, 254);
  background-color: rgb(245, 242, 254);
  border-radius: 4px;
  margin: 15px;
}
#contact-me-footer a {
  font-size: 30px;
  text-decoration: none;
}

.project-name {
  font-weight: 500;
  font-family: sans-serif;
}
.description p {
  font-size: 18px;
  font-weight: 400;
  color: rgb(33, 37, 41);
}
.project-link a {
  font-size: 16px;
  padding: 20px 15px;
  background-color: var(--primary-color);
  text-align: center;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  
}